<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Adaptive.SBE" version="1.0.0.112" targetFramework="net45" />
  <package id="clrzmq" version="2.2.5" targetFramework="net45" />
  <package id="log4net" version="2.0.5" targetFramework="net45" />
  <package id="Michonne" version="0.4.0" targetFramework="net45" developmentDependency="true" />
</packages>